[Unit]
Description=Node.js Web Application
conditionPathExists=/opt/projects/webapp/.env
After=network.target


[Service]
Type=simple
WorkingDirectory=/opt/projects/webapp
ExecStart=/usr/bin/node /opt/projects/webapp/server.js
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225
User=csye6225
Group=csye6225

[Install]
WantedBy=multi-user.target