[Unit]
Description=Node.js Web Application
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/patilbasavaraj293/projects/
ExecStart=/usr/bin/node /home/patilbasavaraj293/projects/server.js
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225
User=csye6225
Group=csye6225

[Install]
WantedBy=multi-user.target