[Unit]
Description=Node.js Web Application

[Service]
Environment=PORT=8080
Environment=MYSQL_HOST=127.0.0.1
Environment=MYSQL_USER=root
Environment=MYSQL_PASSWORD=Payment@2025
Environment=MYSQL_DATABASE=web_app_db
Environment=DIALECT=mysql
Environment=MYSQL_PORT=3306
WorkingDirectory=/home/yourusername/projects/webapp
ExecStart=/usr/bin/node server.js
Restart=always
User=csye6225
Group=csye6225
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=DEBUG=loopback:connector:mysql

[Install]
WantedBy=multi-user.target